<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>笑说往事</string>
		<key>qianming</key>
		<string>小鸟虽小，可它玩的是整个天空。</string>
		<key>phone</key>
		<string>13842910683</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>吾与谁归</string>
		<key>qianming</key>
		<string>我们就像两条平行线，独自向前，不再有交集。</string>
		<key>phone</key>
		<string>15812516769</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1e6944b1c9fc1e17fdbf8c397a91f67c/6aa2c9ea15ce36d388f970973cf33a87e850b1ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>片晌夫妻</string>
		<key>qianming</key>
		<string>幸福已经和我隔了一整个世纪，是我永远都触碰不到的遥远。</string>
		<key>phone</key>
		<string>15706213647</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>烈酒深秋</string>
		<key>qianming</key>
		<string>以为我会怨恨你想不到越恨越想你</string>
		<key>phone</key>
		<string>15706213547</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=70ddeeaf1930e924cfa49c397c096e66/e1b50cf431adcbef01dc8da1aaaf2edda2cc9f40.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>酒香模样</string>
		<key>qianming</key>
		<string>゛跌跌撞撞这一条爱情路，我们换来的只是陌路。</string>
		<key>phone</key>
		<string>18835623279</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>喋喋不休</string>
		<key>qianming</key>
		<string>找一个人，和我一起慢慢衰老。</string>
		<key>phone</key>
		<string>13651671389</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>-瞎闹腾</string>
		<key>qianming</key>
		<string>站在人生的顶端，俯视生命的千姿百态。</string>
		<key>phone</key>
		<string>18600077973</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>足够热闹</string>
		<key>qianming</key>
		<string>、遊戲亽生 ゝ 皒戭旳昰癿巳︶ㄣ</string>
		<key>phone</key>
		<string>13701149549</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>枉度旅途</string>
		<key>qianming</key>
		<string>多年后再见他像老歌再翻唱，歌词没变模样意味却已深长。</string>
		<key>phone</key>
		<string>13880590672</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b8c881b40ff79052ef1f47363cf2d738/85988c5494eef01fa245ea62e6fe9925bd317ddf.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>诉说闲话</string>
		<key>qianming</key>
		<string>- 一件件事儿 看透一个个人</string>
		<key>phone</key>
		<string>13262992596</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>与人走近</string>
		<key>qianming</key>
		<string>不必遗憾，能分开的都不是对的人。</string>
		<key>phone</key>
		<string>13419178342</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6567a09ecf3d70cf4cfaaa05c8ddd1ba/909c87d6277f9e2f1d51efaf1930e924b999f3cc.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>屹于我心</string>
		<key>qianming</key>
		<string>如果你不爱我，那就一脚把我踹开，因为我不忍心离开你。</string>
		<key>phone</key>
		<string>18909280686</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>南笙故歌</string>
		<key>qianming</key>
		<string>坚持下去，并不是我们真的足够坚强，而是我们别无选择。</string>
		<key>phone</key>
		<string>15169700083</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=97f76e7b8c13632715edc23ba18ea056/65f036d12f2eb9381d788855d3628535e5dd6f13.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>故事动人</string>
		<key>qianming</key>
		<string>如果你真的爱我,又怎么舍得丢下我</string>
		<key>phone</key>
		<string>13643529821</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>眼角有光</string>
		<key>qianming</key>
		<string>如果有人可以依靠，谁会愿意独立</string>
		<key>phone</key>
		<string>15201984262</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>别来相认</string>
		<key>qianming</key>
		<string>别让天与海旳距离，衡量爱与恨旳对立 。</string>
		<key>phone</key>
		<string>15342244863</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=81482ec7332ac65c6705667bcbf3b21d/a61d304e251f95ca6a076011cf177f3e660952ba.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>半杯过往</string>
		<key>qianming</key>
		<string>是不是走完了一段旅程，下一站就是分道扬镳。</string>
		<key>phone</key>
		<string>13087713753</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/44fb900735fae6cd73995ec90ab30f2443a70fbd.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>-爱离愁</string>
		<key>qianming</key>
		<string>我会一直喜欢你 直到我长高为止@</string>
		<key>phone</key>
		<string>15106583055</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/6016a84bd11373f0dd898e2aa20f4bfbfaed04a2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>你的奢望</string>
		<key>qianming</key>
		<string>兄弟就是情同手足 有福可能不必同享 但有难必定同当</string>
		<key>phone</key>
		<string>13262623781</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ba1a5e003af33a8779664459c05c10385343b50a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>愿如初见</string>
		<key>qianming</key>
		<string>★丶 你在我心中的位置没人可以代替。</string>
		<key>phone</key>
		<string>13162000232</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/223de03d269759eed7ed3f6eb7fb43166c22df1a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>哪怕很久</string>
		<key>qianming</key>
		<string>下辈子，你只属于我的男人，打勾勾。</string>
		<key>phone</key>
		<string>15316058172</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/8579761ed21b0ef42953dc1ddbc451da80cb3e70.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>濡我衣袖</string>
		<key>qianming</key>
		<string>你所谓的高姿态别给我显摆！你很脏，别碰我！你只是个人傻逼，有什么资格对我这么说话！</string>
		<key>phone</key>
		<string>13980686071</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/36da54d98d1001e9ef2bc25fbe0e7bec54e79766.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>失去胆量</string>
		<key>qianming</key>
		<string>想得太多只会毁了你。让你陷入忐忑，让实际上本不糟糕的事情，变得糟糕。</string>
		<key>phone</key>
		<string>13810832706</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/2c69fb014c086e061a7924c507087bf408d1cb5f.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>全是细节</string>
		<key>qianming</key>
		<string>生命的道路上永远没有捷径可言，只有脚踏实地走下去</string>
		<key>phone</key>
		<string>18638515452</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/06f6d8178a82b9017c4cccbd768da9773812ef62.jpg</string>
	</dict>

</array>
</plist>