<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>世外远行</string>
		<key>qianming</key>
		<string>借酒消愁愁更愁，唐僧洗头用飘柔。</string>
		<key>phone</key>
		<string>18578609079</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/b98b87d6277f9e2fa86563491930e924b899f31b.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>迟到的爱</string>
		<key>qianming</key>
		<string>也曾失望难过舍不得，但我什么都没说。</string>
		<key>phone</key>
		<string>13336779542</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=e8a6c09ff61f3a295ac8d5c6a924bce3/651ed21b0ef41bd5c99c89b557da81cb38db3da7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>孤城凉梦</string>
		<key>qianming</key>
		<string>刚有人坐我旁边，我过去反手就是一巴掌，真是的怎么可以压到我隐形的翅膀。</string>
		<key>phone</key>
		<string>13111078333</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=e4da1f7b4d36acaf59e096f44cd88d03/b0d3fd1f4134970a1f7b4c6d93cad1c8a7865d63.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>梦疏别离</string>
		<key>qianming</key>
		<string>ぬぬ紾惜現恠所擁冇の，洇ゐ卟倁檤什庅埘堠哙悄嘫離呿。</string>
		<key>phone</key>
		<string>13887776382</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b3c1faafa744ad342ebf878fe0a30c08/d4bf6c81800a19d89edcdc4735fa828ba71e4690.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>满盘皆输</string>
		<key>qianming</key>
		<string>哆nian后我洅深液裏遇笕ηι，ηι眉眼裏依旧是我卜解的风情。/╱</string>
		<key>phone</key>
		<string>13270526841</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=719ddd39d71373f0f53f6f97940e4b8b/9213632762d0f7033151d09e0efa513d2797c595.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>如初不遇</string>
		<key>qianming</key>
		<string>我能想到最浪漫的事，就是和你一起慢慢变瘦。</string>
		<key>phone</key>
		<string>13521759773</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=057ea77533fae6cd0cb4ab693fb20f9e/76061d950a7b0208e9a179a364d9f2d3572cc80c.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>情歌年少</string>
		<key>qianming</key>
		<string>No road is long with good company. 有好的旅伴，再远的旅程都不会嫌长。</string>
		<key>phone</key>
		<string>13667819732</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=9e203446910a304e5222a0f2e1c9a7c3/53fbfbedab64034f1bcf8244a9c379310a551d75.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>爱本孤独</string>
		<key>qianming</key>
		<string>我们并不是真的怕失去，而是怕没有更好的代替。</string>
		<key>phone</key>
		<string>13019480038</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=be47ce8f5466d0167e199e20a72ad498/30381f30e924b8992e9d347a68061d950b7bf6cb.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>心却在外</string>
		<key>qianming</key>
		<string>▽ωō鈈ホ€肳妳鮜sんuδ侢見，誐ホ€肳妳鮜sんuδ説晚侒。▼</string>
		<key>phone</key>
		<string>18870143622</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fdcfdfb07b1ed21b79c92eed9d6fddae/52ed2e738bd4b31cfd5adaf981d6277f9e2ff80a.jpg</string>
	</dict>


</array>
</plist>