<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>繁华喧闹</string>
		<key>qianming</key>
		<string>我们会因为对一个人有感觉而与他携手并进，也会因为对一个人没感觉而与他分道扬镳。</string>
		<key>phone</key>
		<string>18560528116</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/2c69fb014c086e061a7924c507087bf408d1cb5f.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>廉价香水</string>
		<key>qianming</key>
		<string>τā卟褆変る，祇褆咊ηι想象的卟呔壹様る。ゞ</string>
		<key>phone</key>
		<string>13880328093</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/06f6d8178a82b9017c4cccbd768da9773812ef62.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>声音沙哑</string>
		<key>qianming</key>
		<string>總煶輕蜴給予承喏，却潕吣宬佺袺果。</string>
		<key>phone</key>
		<string>13955162833</string>
		<key>image</key>
		<string>http://m.tiebaimg.com/timg?wapp&amp;quality=80&amp;size=b150_150&amp;subsize=20480&amp;cut_x=0&amp;cut_w=0&amp;cut_y=0&amp;cut_h=0&amp;sec=1369815402&amp;srctrace&amp;di=430b26228e850bc5b021f302e95d918e&amp;wh_rate=null&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F279759ee3d6d55fb5707096e6b224f4a21a4ddb1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>丢在风里</string>
		<key>qianming</key>
		<string>不会再低声下气的去求你别离开。</string>
		<key>phone</key>
		<string>18665380867</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=77c40e1763380cd7e61ea2e59145ad14/f82a70cf3bc79f3d3f661597bca1cd11738b29ad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>往事的泥沼</string>
		<key>qianming</key>
		<string>冇埘堠涐說の話冭狠卟崾怪涐，涐呮想伱菢菢涐。</string>
		<key>phone</key>
		<string>15015635329</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=023aa1af0ad79123e0e0947c9d355917/41d83bc79f3df8dc19ba7e36cb11728b461028ad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>孤牧栀笙.</string>
		<key>qianming</key>
		<string>带我走过今生坎坷，来生做你所喜清荷。</string>
		<key>phone</key>
		<string>13857450128</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ac82c840972397ddd679980c6983b216/0ad09f3df8dcd100731b0986748b4710b8122fad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>喜你如初.</string>
		<key>qianming</key>
		<string>世上最痛苦的事之一，不是落单，而是身边有一圈人让你感觉自己孤身一人。</string>
		<key>phone</key>
		<string>13178670424</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D145%2C90/sign=a8260d1f9d504fc2a20ab804d1e8cb28/e55c10385343fbf235192734b67eca8065388ff4.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>衣襟的绵软</string>
		<key>qianming</key>
		<string>最失败的听众是，人家随便说，你却当真了。</string>
		<key>phone</key>
		<string>13151044186</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D90%2C90%3Bcrop%3D0%2C0%2C90%2C90/sign=bfe35916d039b6004d9b07bed97c0c1a/b3529822720e0cf37de7140e0f46f21fbe09aa37.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>与你深絮.</string>
		<key>qianming</key>
		<string>只要有电，我qq就在线。</string>
		<key>phone</key>
		<string>18717004773</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D90%2C90%3Bcrop%3D0%2C0%2C90%2C90/sign=1ae757f07b1ed21b799c26ec9d42e4f4/b40a304e251f95ca4cbb54b4cf177f3e67095262.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>终熬姜成糖</string>
		<key>qianming</key>
		<string>姐妹一旦翻脸就像后宫甄嬛传一样</string>
		<key>phone</key>
		<string>15133665087</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D90%2C95%3Bcrop%3D0%2C0%2C90%2C90/sign=986dd41e3f87e9504242fb6520146a76/2ff3d7ca7bcb0a46dc7250e46e63f6246a60af9f.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>世味煮成茶.</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>15529222676</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D118%2C90/sign=d8b287e12a2eb938ec3872f3e45aa90c/33385343fbf2b2111f46014ecf8065380cd78e42.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>挽你手诉梦话</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>15392426904</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D91%2C90/sign=f7977ac80f7b02080c9c37e853f5cbe3/29d162d9f2d3572c884eceb18f13632762d0c32b.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>风过揉皱一池塘</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>18864783095</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D90%2C90%3Bcrop%3D0%2C0%2C90%2C90/sign=729608ef0fd162d985bb6a1521f390dc/8a773912b31bb0518887f503337adab44aede07e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>剪不断</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>18876149430</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/wh%3D90%2C120%3Bcrop%3D0%2C0%2C90%2C90/sign=db7a616649c2d562f25dd8e4d73da1dd/15d12f2eb9389b502d802f548335e5dde7116ebd.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>南风吹</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>15579815236</string>
		<key>image</key>
		<string>http://tb1.bdstatic.com/tb/cms/ngmis/adsense/file_1443423897678.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>不归家</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>18781004816</string>
		<key>image</key>
		<string>http://tb1.bdstatic.com/tb/cms/ngmis/adsense/file_1443423899833.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>换你暖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15821862848</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>瑪麗亞</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15188568489</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>安红豆</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>13263239684</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>总轻负</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>15913244725</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>无人像</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>18972209278</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>偏执狂</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15877124567</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>太牵挂</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13803506385</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>脾性.</string>
		<key>qianming</key>
		<string>迩的笑，美的如阳光照在青石板的暖。</string>
		<key>phone</key>
		<string>18389598261</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>南山南i</string>
		<key>qianming</key>
		<string>姐妹分裂是如今的style？</string>
		<key>phone</key>
		<string>18655582324</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>我笑了笑</string>
		<key>qianming</key>
		<string>ヤ笹鎅那幺夶叒怎樣，吺烠皒熋銥攋的仒。</string>
		<key>phone</key>
		<string>15553106186</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>情难说破</string>
		<key>qianming</key>
		<string>如果你累了，可以止步看夕阳，人生路上我陪你流浪。</string>
		<key>phone</key>
		<string>15912497503</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>深埋心底</string>
		<key>qianming</key>
		<string>文章说：作为男人啊 第一不能骗女人的钱，那叫吃软饭；第二不能骗女人的感情，那叫臭不要脸！</string>
		<key>phone</key>
		<string>15517848077</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>不曾停滞</string>
		<key>qianming</key>
		<string>友谊比生日礼物还要重要</string>
		<key>phone</key>
		<string>0871110</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>离人与歌</string>
		<key>qianming</key>
		<string>＂人生如天气，可预料，但往往出乎意料。＂</string>
		<key>phone</key>
		<string>15678971370</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>删掉回忆</string>
		<key>qianming</key>
		<string>抱着自己喜欢的人 才是最好的感觉</string>
		<key>phone</key>
		<string>15319316060</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5e5e758cb651f819f1250342eab54a76/f74b10385343fbf2d55d5584b67eca8065388f3f.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>情趣别致</string>
		<key>qianming</key>
		<string>幸福的极限是：全世界的猪都笑了；郁闷的极限是：全世界的猪都笑了，你还板着脸！</string>
		<key>phone</key>
		<string>15377562948</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>奔赴一场</string>
		<key>qianming</key>
		<string>（在温柔的情陷上只能用你的宠溺来替代。）</string>
		<key>phone</key>
		<string>18858685423</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=665a2fb3be99a9013b355b3e2d940a58/00bacbef76094b36d5c5e84aa5cc7cd98c109ddd.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>北音执念</string>
		<key>qianming</key>
		<string>经不住思念的折磨，疯狂地想你。</string>
		<key>phone</key>
		<string>18964412147</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>笑如往夕</string>
		<key>qianming</key>
		<string>人生就像刷牙 一手拿着悲具 一手拿着洗具最后变成了悲喜交加的人生</string>
		<key>phone</key>
		<string>18321513870</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=31bca8911b950a7b75354ecc3ad0625c/9db82edda3cc7cd9f0a4c77e3f01213fb90e91a7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>踉跄不歇</string>
		<key>qianming</key>
		<string>别和我装你活的精彩过的幸福，也别祝我幸福，你有那资格吗……？</string>
		<key>phone</key>
		<string>15623284180</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>别提感情</string>
		<key>qianming</key>
		<string>如果一个男人可以晾你很多天、那不要也罢。</string>
		<key>phone</key>
		<string>18508193093</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=03aaa5b064d0f703e6b295d438fb5148/1e39b9389b504fc25cdb43a2e3dde71191ef6dac.jpg</string>
	</dict>
</array>
</plist>