<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>邮差的信</string>
		<key>qianming</key>
		<string>花开花落花常在，人来人往人不同</string>
		<key>phone</key>
		<string>18835556275</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>音讯断绝</string>
		<key>qianming</key>
		<string>如果割腕会死人那么断臂的为什么会活着</string>
		<key>phone</key>
		<string>18058708744</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5b363775d1ca7bcb7d7bc7278e086b3f/a00e7bec54e736d1061682be9d504fc2d562697a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>风再起时</string>
		<key>qianming</key>
		<string>是我把自己想得太好，以为你这一次你愿意停靠。</string>
		<key>phone</key>
		<string>13724008415</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>了我痴心</string>
		<key>qianming</key>
		<string>不能怪她重色轻友，只因她身边都是狗。</string>
		<key>phone</key>
		<string>15706131471</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5b4d68c5fdf2b211e42e8546fa816511/51540923dd54564ed92dea8fb5de9c82d1584f3f.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>不怕骤变</string>
		<key>qianming</key>
		<string>如果说过的话可以不算数，那爱过的人，能不能不要再让我记住。</string>
		<key>phone</key>
		<string>13113979809</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>释怀故友</string>
		<key>qianming</key>
		<string>没有你的世界，毁了也无所谓。</string>
		<key>phone</key>
		<string>18628260414</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4fe5984a7ad98d1076d40c39113eb807/284e251f95cad1c8c6bef291793e6709c93d517a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>忆我清水</string>
		<key>qianming</key>
		<string>ヅ當愛情歷儘蒼田桑hǎi，還哊多少勇氣qù愛。デ</string>
		<key>phone</key>
		<string>18721494536</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>荣枯随缘</string>
		<key>qianming</key>
		<string>脸大的人一般脾气都超好，因为脸大翻脸真的很辛苦。</string>
		<key>phone</key>
		<string>13136143586</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=9851ccb0a9c379317d688621dbc5b784/4dfbb2fb43166d22afeb1b22402309f79152d2ec.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>顾施旧计</string>
		<key>qianming</key>
		<string>如果有一天我屏蔽了你的朋友圈，请不要问我为什么，我只是买不起你卖的东西。</string>
		<key>phone</key>
		<string>15311861058</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>一场笑话</string>
		<key>qianming</key>
		<string>早上别梳头，因为那是上帝赐予你的发型。</string>
		<key>phone</key>
		<string>15575890571</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7aa09a0d81d6277fe912323018391f63/cc2a2834349b033ba614f26c13ce36d3d439bdec.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>双手掬起</string>
		<key>qianming</key>
		<string>我是个矛盾的神经病，我怕结果，可我还是不死心的期待。</string>
		<key>phone</key>
		<string>18615080724</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>街巷画家</string>
		<key>qianming</key>
		<string>♀原諒我有時候ьú能秒迴，ьú是没空，而是没んυà題！♀</string>
		<key>phone</key>
		<string>18150474441</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=42be025db0fd5266a72b3c1c9b199799/1f0828381f30e9247bec92874a086e061d95f738.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>路途重逢</string>
		<key>qianming</key>
		<string>ㄣ你曾经所说的地老天荒，如今已经不屑一顾，究竟是我不值还是你不配？</string>
		<key>phone</key>
		<string>15778360660</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fdae8d7b5466d0167e199e20a72ad498/30381f30e924b8996d74778e68061d950a7bf638.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>与我话别</string>
		<key>qianming</key>
		<string>长痘是因为你帅的冒泡。</string>
		<key>phone</key>
		<string>13978838682</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>挽留酸楚</string>
		<key>qianming</key>
		<string>弥散在季节的风雨里，温馨在绵绵的记忆中，知否？想借风儿送去讯息：生命如歌，芳菲满园……</string>
		<key>phone</key>
		<string>13699790037</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4db642b70c55b3199cf9827d73a88286/5b166d224f4a20a4a456327196529822720ed038.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>劣妓香气</string>
		<key>qianming</key>
		<string>几重云，几重水，几重山。才下眉梢，又上心头，一曲心事何处寄？</string>
		<key>phone</key>
		<string>13792801811</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>余生予我</string>
		<key>qianming</key>
		<string>我爱你，如鲸向海、鸟投林，不可避免，退无可退。</string>
		<key>phone</key>
		<string>02195511</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>阳光温暖</string>
		<key>qianming</key>
		<string>我想去远方，转角就路过天涯，旅途一路芬芳。</string>
		<key>phone</key>
		<string>1008611</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ddd87821df33c895a67e9873e1127397/ead3572c11dfa9ec58ef59a164d0f703908fc147.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>黯然的泪</string>
		<key>qianming</key>
		<string>〃如guǒ有人説妳胖，壹定要凶迴去，咋dι呀，吃的妳jιa飯啊？ぐ</string>
		<key>phone</key>
		<string>13873837771</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>愈加沉堕</string>
		<key>qianming</key>
		<string>有些事，没有人会指名道姓的告诉，是你的责任，但你已懂得承担，这大概是一种成熟的表现。</string>
		<key>phone</key>
		<string>13716729874</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5b15cda26d600c33f079dec02a4d5134/57c2d5628535e5ddd767ab6970c6a7efce1b6238.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>晚来风急</string>
		<key>qianming</key>
		<string>我错过了李嘉恒，没等到kris，但我会牢牢抓住吴亦凡。</string>
		<key>phone</key>
		<string>18390555385</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>灯照垆边</string>
		<key>qianming</key>
		<string>胡歌演了两部仙剑，第一部他是李逍遥，他有赵灵儿。第三部，他是景天，他有唐雪见。</string>
		<key>phone</key>
		<string>13111078333</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>病痨i</string>
		<key>qianming</key>
		<string>要像花儿一样，无论身在何处，不管周遭环境如何，都依然潇洒的绽放自己的美丽，活出自己的精彩。</string>
		<key>phone</key>
		<string>1008611</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=619f4b493dc79f3d8fe1e4388aa0cdbc/af4543a98226cffcb6b5b104bf014a90f703eaed.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>坐拥江山</string>
		<key>qianming</key>
		<string>和闺蜜一个班，上课经常传纸条，因为想和闺蜜聊聊。</string>
		<key>phone</key>
		<string>15101273269</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>离场电影</string>
		<key>qianming</key>
		<string>原来，命运并不会因为你欲哭无泪，而停止给你伤悲。</string>
		<key>phone</key>
		<string>13611065598</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=24bbc899b8096b6381195e583c328733/372eb9389b504fc2fb9fbfb3e3dde71191ef6d47.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>心底旅客</string>
		<key>qianming</key>
		<string>┋为情葰困嘚橷昰二んūò，関鍵昰找daō牢的鑰匙。┊</string>
		<key>phone</key>
		<string>13611065598</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/6016a84bd11373f0dd898e2aa20f4bfbfaed04a2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>眼泪随我</string>
		<key>qianming</key>
		<string>我只能用强颜欢笑，来祭奠我不明的伤。</string>
		<key>phone</key>
		<string>15209210086</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ba1a5e003af33a8779664459c05c10385343b50a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>似你沙哑</string>
		<key>qianming</key>
		<string>她説她要bī走她在這個城市所有の親人朋友，然后去遠方，ろ無qiαй掛。</string>
		<key>phone</key>
		<string>13891419018</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/223de03d269759eed7ed3f6eb7fb43166c22df1a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>鼻头微酸</string>
		<key>qianming</key>
		<string>我终于打算离开你了，很慢，但很坚定。</string>
		<key>phone</key>
		<string>13004143515</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/8579761ed21b0ef42953dc1ddbc451da80cb3e70.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>闷热的风</string>
		<key>qianming</key>
		<string>我喜欢抽完的烟掉进水里的感觉，就好像所有热情瞬间熄灭。</string>
		<key>phone</key>
		<string>18313963925</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/36da54d98d1001e9ef2bc25fbe0e7bec54e79766.jpg</string>
	</dict>

</array>
</plist>