<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>煩嗔.</string>
		<key>qianming</key>
		<string>︶多哖銗гεηɡ熋讓鯢伈痛旳，是daηɡ哖輕昜邡棄旳真爱。ベ</string>
		<key>phone</key>
		<string>15917923796</string>
		<key>image</key>
		<string>http://tb1.bdstatic.com/tb/cms/ngmis/adsense/file_1443423899833.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>弃剑封刀</string>
		<key>qianming</key>
		<string>也曾失望难过舍不得，但我什么都没说。</string>
		<key>phone</key>
		<string>13660347299</string>
		<key>image</key>
		<string>http://h.hiphotos.baidu.com/forum/eWH=150,150;bp=1090101,0,0,200/sign=caf2d85457da81cb5c8cfec06353e03a/b3b7d0a20cf431adac7373994d36acaf2fdd98e8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>预兆沦陷</string>
		<key>qianming</key>
		<string>他就像卡在我喉咙里的一根鱼刺，咽不下吐不出，并不是多么多么爱，只是没有得到罢了。</string>
		<key>phone</key>
		<string>18123229824</string>
		<key>image</key>
		<string>http://h.hiphotos.baidu.com/forum/eWH=150,150;bp=1090101,0,0,200/sign=caf2d85457da81cb5c8cfec06353e03a/b3b7d0a20cf431adac7373994d36acaf2fdd98e8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>空气作伴</string>
		<key>qianming</key>
		<string>シщo肆臫魢嘬好ㄖㄅ醫笙卻ㄡ肆嘬兂药可捄ㄖㄅ寎人。ㄨ</string>
		<key>phone</key>
		<string>18123229604</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b8a8a2a4740e0cf3a0f74ef33a47f23d/2101213fb80e7bec7c1d0c57292eb9389a506b44.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>时间作怪</string>
		<key>qianming</key>
		<string>銣菓吢裏洧慯，煶桮槇啲可姒讉朢，丕必包裝。</string>
		<key>phone</key>
		<string>18178284363</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>怜悯罪人</string>
		<key>qianming</key>
		<string>失望是种幸福，因为有了盼望，才有失望。</string>
		<key>phone</key>
		<string>13660575219</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=54eaea86bca1cd1105b672288913c8b0/06178a82b9014a905a35480baf773912b31bee79.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>烫口情话</string>
		<key>qianming</key>
		<string>〃ー個瘋子洇蒍ー個piàn子辜負孓ー個shǎ子。</string>
		<key>phone</key>
		<string>18330111881</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>午夜缠绵</string>
		<key>qianming</key>
		<string>╰+Ъeι饬臸此，我しián自己也嫌惡起徠。メ</string>
		<key>phone</key>
		<string>15652344260</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=34a0c6994734970a47731027a5cbd1c0/bc0f4bfbfbedab649f3c4376f136afc379311e3d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>眉眼宠溺</string>
		<key>qianming</key>
		<string>昨天闺蜜说：“如果我要是男的就好了，这样你就不会遇见他。而我会给你幸福的。”</string>
		<key>phone</key>
		<string>15813325189</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>清栀年华</string>
		<key>qianming</key>
		<string>那次坐公交车试着学韩国女主角头靠窗含情脉脉的看窗外，结果路太烂把我颠成了脑震荡。</string>
		<key>phone</key>
		<string>15751741202</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=59c037b58144ebf86d716437e9f8d736/9d35e5dde71190ef44669c69c81b9d16fcfa60e2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>抵死缠绵</string>
		<key>qianming</key>
		<string>我一直都在这里，等风也等你，可是真的很可惜，风不会再吹了，你也不会再来了。</string>
		<key>phone</key>
		<string>15751741190</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>还汝青森</string>
		<key>qianming</key>
		<string>时光谢谢你让一个女孩变得成熟，不再天真浪漫也没有了那爱笑的眼睛。</string>
		<key>phone</key>
		<string>13411010976</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=903da5bbfedcd100cd9cf829428a47be/9a26cffc1e178a8212fb7016f003738da877e845.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>换我宿醉</string>
		<key>qianming</key>
		<string>带着不安和想念入睡会做怎样的梦？</string>
		<key>phone</key>
		<string>15751741192</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>衰老了心</string>
		<key>qianming</key>
		<string>我在没有你的北方，就好像在森林中感受沙漠的荒凉。</string>
		<key>phone</key>
		<string>15751741210</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6314327196529822053339cbe7cb7b3b/951001e93901213f9d39406a52e736d12f2e9579.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>半晚咖啡</string>
		<key>qianming</key>
		<string>这场雨下得来历不明，这个人爱得深不可测，梦虽是假的，我的感情却是真的。</string>
		<key>phone</key>
		<string>18154787131</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>往日情怀</string>
		<key>qianming</key>
		<string>ζ騎±總浍jiù出公主，但惡尨也从mei傷嗐簻她。</string>
		<key>phone</key>
		<string>13025750528</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4c3943b70c55b3199cf9827d73a88286/5b166d224f4a20a4a5d9337196529822730ed045.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>慕慕往年</string>
		<key>qianming</key>
		<string>如果温柔不是独有，那么要它有何用。</string>
		<key>phone</key>
		<string>15069361766</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>沧海已老</string>
		<key>qianming</key>
		<string>總想努ㄌ爭ロ芞給伱看，總冇①迗，伱看卟丄涐の傆洇涐嘟崾徹厎推翻。</string>
		<key>phone</key>
		<string>13341903968</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=370f3751972397ddd679980c6983b216/8482d158ccbf6c81d23d225eba3eb13533fa4079.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>扯着衣袖</string>
		<key>qianming</key>
		<string>{其实在遇见你之前，我从未相信我会喜欢一个人喜欢到这个地步。}</string>
		<key>phone</key>
		<string>15010305926</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5fe0aaa591dda144da096cba82b6d009/c958ccbf6c81800a4aef87b8b73533fa828b4779.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>疏狂几曾</string>
		<key>qianming</key>
		<string>〃迩别走のτai慢禳我在ρai佪不萣中難堪。ぐ</string>
		<key>phone</key>
		<string>15001261593</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>斩断束缚</string>
		<key>qianming</key>
		<string>僦讓伱笕識涐の颩喥，伱崾離幵涐崾卟崾慶祝。</string>
		<key>phone</key>
		<string>13136141668</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=d566c858b28f8c54e3d3c5270a282dee/cc3f8794a4c27d1ea82c35721dd5ad6eddc43879.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>是该庆幸</string>
		<key>qianming</key>
		<string>我们认输好不好，不要这么难过好不好。</string>
		<key>phone</key>
		<string>15018489846</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>青衫红衣</string>
		<key>qianming</key>
		<string>曾经有那么一个人的名字，总被我写在本子上。</string>
		<key>phone</key>
		<string>13660479232</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5e7d88589a82d158bb8259b9b00b19d5/63899e510fb30f24cdd3e2b5ce95d143ad4b033e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>半截的诗</string>
		<key>qianming</key>
		<string>不爱了就往前走，微微笑不用别扭，我们甚至不必成为朋友。</string>
		<key>phone</key>
		<string>15168259888</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>撕碎衣裳</string>
		<key>qianming</key>
		<string>我用我的笑容告诉你，没你我一样过的好。</string>
		<key>phone</key>
		<string>13760442026</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=500f0b2bcdef76093c0b99971edca301/9a8ba61ea8d3fd1f1dcfad8c364e251f94ca5f45.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>星空毕露</string>
		<key>qianming</key>
		<string>从此你浪的无牵无挂，我也再没叫你回家。</string>
		<key>phone</key>
		<string>13243819738</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>热情余温</string>
		<key>qianming</key>
		<string>当画面定格在彼此互相凝望沉默不语时，我知道故事结束了。</string>
		<key>phone</key>
		<string>13461862496</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=d014f49d9b16fdfad86cc6e6848e8cea/dbfdfc039245d688a3c4bd12a2c27d1ed31b2445.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>白色球鞋</string>
		<key>qianming</key>
		<string>可能我天生就浪，注定没有家，失去的所有都是代价。</string>
		<key>phone</key>
		<string>13752636361</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>叛逆固执</string>
		<key>qianming</key>
		<string>就像灌了满满一口啤酒，呛得难受又吐不出来眼泪一直掉。</string>
		<key>phone</key>
		<string>18172489942</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=97ccc06bad64034f0fcdc20e9fc27980/493d269759ee3d6d89cc897d45166d224f4ade7a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>你的沉默</string>
		<key>qianming</key>
		<string>卟崾酔恠莂亽給伱の薀柔裡耍酒瘋。</string>
		<key>phone</key>
		<string>18530941346</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>不喜不厌</string>
		<key>qianming</key>
		<string>后来你喝他的酒，说这一生都要与他走。</string>
		<key>phone</key>
		<string>13773901619</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=964e4d8f4d36acaf59e096f44cd88d03/b0d3fd1f4134970a6def1e9993cad1c8a6865de3.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>借过风景</string>
		<key>qianming</key>
		<string>伱莱菿丗丄，毫兂葨懼の鉭蕩，伱總嘚崾呿看看タ陽，啝伱噯着の亽幷肩赱恠簧昬の街丄。</string>
		<key>phone</key>
		<string>13425014846</string>
		<key>image</key>
		<string>http://tb2.bdstatic.com/tb/static-pb/img/head_80.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>梦里有你</string>
		<key>qianming</key>
		<string>像是约好了却永远等不来的人，像是穿上长袖却不再下降的气温。</string>
		<key>phone</key>
		<string>18306635698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=55e2d142b14543a9f51bfac42e168a7b/38a4462309f790527ed948880af3d7ca7acbd546.jpg</string>
	</dict>
</array>
</plist>