<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>后来你说.</string>
		<key>qianming</key>
		<string>今年九月, 和我爱的少年去法国留学. 开始我们的法兰西岁月。</string>
		<key>phone</key>
		<string>15081195338</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=520d2ddd28dda3cc0be4b82831e83905/5934970a304e251f8cf150baa186c9177f3e5369.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>沦为旧友。</string>
		<key>qianming</key>
		<string>现在，连莪自己都在嘲笑莪这个幼稚旳女人。</string>
		<key>phone</key>
		<string>15968995171</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5886259dc81b9d168ac79a69c3dfb4eb/dbcec3fdfc039245f8c8564d8194a4c27d1e2576.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>饮惯烈酒.</string>
		<key>qianming</key>
		<string>┆哪τíаň蚆我偪急ろ，我憱аí個發我瞦鸛伱，иà個成ろ憱哪個。┆</string>
		<key>phone</key>
		<string>15706131478</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ec46334735fa828bd1239debcd1e41cd/b54bd11373f082020ad7267d4dfbfbedab641b2e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>南鹿树下。</string>
		<key>qianming</key>
		<string>你教会了我如何去爱，但最后在我身边的却不是你。</string>
		<key>phone</key>
		<string>13803187337</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b5541161b67eca80120539efa1229712/4e4e9258d109b3de9bc7532acabf6c81800a4c73.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>对风说爱你</string>
		<key>qianming</key>
		<string>◤總是ài幻想，zuò儘le白日夢。◥</string>
		<key>phone</key>
		<string>13468863875</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/8f0a304e251f95cafd86c8f5cf177f3e67095205.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>风带走思念</string>
		<key>qianming</key>
		<string>噯與卟噯留與卟留卟喠崾ㄋ，還冇那份初佽遇笕感覺，還囍歡着伱僦ぬ。♀</string>
		<key>phone</key>
		<string>13257314396</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/16f41bd5ad6eddc41d21efb83fdbb6fd536633aa.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>别人的记忆</string>
		<key>qianming</key>
		<string>多年后在路上听到在放咆哮，你是否还会停下来想起曾经那是你的骄傲。</string>
		<key>phone</key>
		<string>13247341694</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/14338744ebf81a4c9140b68ad12a6059252da607.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>落单的恋人</string>
		<key>qianming</key>
		<string>当我决定放弃，你就该知道，无人愿意再像我，陪你回顾，为你揽险。</string>
		<key>phone</key>
		<string>13660464268</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=03a5723c7ef0f736d8fe4c093a54b382/41ee3d6d55fbb2fbebd71c51494a20a44723dcf1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>栖于你眉目</string>
		<key>qianming</key>
		<string>现在流行分了好久又和好的人，可惜我没那个运气。</string>
		<key>phone</key>
		<string>13560119964</string>
		<key>image</key>
		<string>http://m.tiebaimg.com/timg?wapp&amp;quality=80&amp;size=b150_150&amp;subsize=20480&amp;cut_x=0&amp;cut_w=0&amp;cut_y=0&amp;cut_h=0&amp;sec=1369815402&amp;srctrace&amp;di=1c68ee4ea94de4428e2a63529de53601&amp;wh_rate=null&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2Fcdbf6c81800a19d83a6b909b36fa828ba71e46c7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>毕竟我也赢过</string>
		<key>qianming</key>
		<string>明知他是梦仍旧想要碰</string>
		<key>phone</key>
		<string>15954442444</string>
		<key>image</key>
		<string>http://h.hiphotos.baidu.com/forum/eWH=150,150;bp=1090101,0,0,200/sign=caf2d85457da81cb5c8cfec06353e03a/b3b7d0a20cf431adac7373994d36acaf2fdd98e8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>过往不为人知</string>
		<key>qianming</key>
		<string>每次闹脾气的时候，我都傻傻的以为你会来哄我。</string>
		<key>phone</key>
		<string>18087722500</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=143ef697748b4710ce2ffdc4f3cfc3b2/a1014a90f603738d07e80294b51bb051f919ece2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>横眉冷对千夫指</string>
		<key>qianming</key>
		<string>脸大的人一般脾气都超好，因为脸大翻脸真的很辛苦。</string>
		<key>phone</key>
		<string>13161789533</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=628e490d4110b912bfc1f6f6f3fcfcb5/5290f603738da977968d889db651f8198718e3e2.jpg</string>
	</dict>


</array>
</plist>