<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>痴心绝对</string>
		<key>qianming</key>
		<string>你的背影潇潇洒洒，你的正脸惨不忍睹</string>
		<key>phone</key>
		<string>13430617333</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6b73672109b30f24359aec0bf894d192/63f40ad162d9f2d347d6e8afafec8a136227ccaf.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>苦等之后</string>
		<key>qianming</key>
		<string>不去期望。失去了不会伤心，得到了便是惊喜。</string>
		<key>phone</key>
		<string>13365169299</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3d136963b67eca80120539efa1239712/4e4e9258d109b3de13802b28cabf6c81800a4cb7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>宛若情人</string>
		<key>qianming</key>
		<string>非 亲 友 谊 须 当 敬， 是 亲 不 亲 少 动 情 。</string>
		<key>phone</key>
		<string>13598448040</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=9eb97da6217f9e2f70351d002f31e962/3034349b033b5bb5f6d8efbe30d3d539b600bc67.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>待我如初</string>
		<key>qianming</key>
		<string>←═╬∞莪鉯愛芝名，判亇無硍徒开リ，在莪吢鲤執珩。</string>
		<key>phone</key>
		<string>13166402643</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=642e086fb8096b6381195e583c328733/372eb9389b504fc2bb0a7f45e3dde71190ef6d1d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>南笙北执</string>
		<key>qianming</key>
		<string>没时间的时候QQ吵得就像菜市场，有时间的时候QQ静得就像火葬场。</string>
		<key>phone</key>
		<string>18392627743</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=a397b0a7217f9e2f70351d002f31e962/3034349b033b5bb5cbf622bf30d3d539b600bc49.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>听风挽雨</string>
		<key>qianming</key>
		<string>无缘成为最爱却又很牵挂</string>
		<key>phone</key>
		<string>13933853381</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=95e4b8ba3fdbb6fd255be52e3925aba6/862f070828381f302d1a81e8af014c086e06f074.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>偏中意你</string>
		<key>qianming</key>
		<string>本以为念念不忘的东西却在我们念念不忘的过程中被遗忘</string>
		<key>phone</key>
		<string>13231171469</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4e3035c2092442a7ae0efdade142ad95/12d162d9f2d3572cc1be939d8c13632762d0c317.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>秋日微燥</string>
		<key>qianming</key>
		<string>了解自己，了解自己的欲望，了解自己的局限。</string>
		<key>phone</key>
		<string>13701138214</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ec0183e8af014c08193b28ad3a7a025b/cd39b6003af33a87ec750e5bc05c10385343b552.jpg</string>
	</dict>



</array>
</plist>