<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>二手情话</string>
		<key>qianming</key>
		<string>站在人生的顶端，俯视生命的千姿百态。</string>
		<key>phone</key>
		<string>18575595113</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f81140c7d6a20cf44690fed746084b0c/a43eb13533fa828b078d5aa3fb1f4134960a5ac0.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>眉眼带笑</string>
		<key>qianming</key>
		<string>、遊戲亽生 ゝ 皒戭旳昰癿巳︶ㄣ</string>
		<key>phone</key>
		<string>13105438384</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/a099a9014c086e06129cf90b04087bf40ad1cbbe.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>等他来爱</string>
		<key>qianming</key>
		<string>多年后再见他像老歌再翻唱，歌词没变模样意味却已深长。</string>
		<key>phone</key>
		<string>15666807880</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b336226375f082022d9291377bfafb8a/7b2762d0f703918fbe91fb8a573d269759eec42a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>奢望流浪</string>
		<key>qianming</key>
		<string>- 一件件事儿 看透一个个人</string>
		<key>phone</key>
		<string>13428783777</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3540458d5466d0167e199e20a72ad498/30381f30e924b899a59abf7868061d950b7bf6c8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>扰人清梦</string>
		<key>qianming</key>
		<string>不必遗憾，能分开的都不是对的人。</string>
		<key>phone</key>
		<string>18120079500</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ff1190ef76c6a7efb5106966fbfaaf51f3de66b8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>几封情书</string>
		<key>qianming</key>
		<string>如果你不爱我，那就一脚把我踹开，因为我不忍心离开你。</string>
		<key>phone</key>
		<string>13020100465</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=530271725cafa40f3cc6ced59b65038c/ef03918fa0ec08fa71cfd5e75fee3d6d54fbdaa7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>独揽清欢</string>
		<key>qianming</key>
		<string>坚持下去，并不是我们真的足够坚强，而是我们别无选择。</string>
		<key>phone</key>
		<string>15665814094</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08e6fe36f41fbe091c5ec31c5b610c30/2ed12f2eb9389b503cef21128335e5dde7116e5a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>南鸢离梦</string>
		<key>qianming</key>
		<string>如果你真的爱我,又怎么舍得丢下我</string>
		<key>phone</key>
		<string>13922924153</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b8f04c714c90f60304b09c4f0913b370/cfca7bcb0a46f21f8c7b9e13f0246b600c33ae27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>感同身受</string>
		<key>qianming</key>
		<string>如果有人可以依靠，谁会愿意独立</string>
		<key>phone</key>
		<string>13803589647</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=e59372a6217f9e2f70351d002f30e962/3034349b033b5bb58df2e0be30d3d539b600bc4d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>情临窗下</string>
		<key>qianming</key>
		<string>别让天与海旳距离，衡量爱与恨旳对立 。</string>
		<key>phone</key>
		<string>15821963641</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/f124b899a9014c086503ebe50c7b02087bf4f4b2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>旧爱他人</string>
		<key>qianming</key>
		<string>是不是走完了一段旅程，下一站就是分道扬镳。</string>
		<key>phone</key>
		<string>15622758966</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=9d64c3a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31d4cac1d858df8db1ca1370df.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>故事缺你</string>
		<key>qianming</key>
		<string>我会一直喜欢你 直到我长高为止@</string>
		<key>phone</key>
		<string>15196541345</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=99491db4b14543a9f51bfac42e168a7b/38a4462309f79052b272847e0af3d7ca7bcbd505.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>一生如梦</string>
		<key>qianming</key>
		<string>兄弟就是情同手足 有福可能不必同享 但有难必定同当</string>
		<key>phone</key>
		<string>13166414590</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=de0e3f9a13ce36d3a20483380af23a24/e81f3a292df5e0fe1c9e4a415a6034a85fdf72e8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>温眉软眼</string>
		<key>qianming</key>
		<string>★丶 你在我心中的位置没人可以代替。</string>
		<key>phone</key>
		<string>13165995595</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=46185f9c8c13632715edc23ba18ea056/d28065380cd79123c01a5734ab345982b3b780fc.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>伴君三生</string>
		<key>qianming</key>
		<string>下辈子，你只属于我的男人，打勾勾。</string>
		<key>phone</key>
		<string>13551014823</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=04178aa98b1001e94e3c1407880f7b06/3d1f95cad1c8a7866ecc894e6109c93d71cf5088.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>情浓于酒</string>
		<key>qianming</key>
		<string>你所谓的高姿态别给我显摆！你很脏，别碰我！你只是个人傻逼，有什么资格对我这么说话！</string>
		<key>phone</key>
		<string>13122340809</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=d465bc46aaaf2eddd4f149e1bd110102/e51f4134970a304e877362bad7c8a786c9175c19.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>只剩零碎</string>
		<key>qianming</key>
		<string>想得太多只会毁了你。让你陷入忐忑，让实际上本不糟糕的事情，变得糟糕。</string>
		<key>phone</key>
		<string>13165997029</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=955e7ac1cd1349547e1ee86c664f92dd/4a66d0160924ab185caa237733fae6cd7b890b36.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>青树枯藤</string>
		<key>qianming</key>
		<string>生命的道路上永远没有捷径可言，只有脚踏实地走下去</string>
		<key>phone</key>
		<string>15271132267</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c2dd4f3545a98226b8c12b2fba83b97a/5e2309f7905298225b17f483d1ca7bcb0a46d44e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>顾你冷暖</string>
		<key>qianming</key>
		<string>昨晚梦到我跟他结婚了，刚要换戒指，梦醒了。。今天我就和他分了。。</string>
		<key>phone</key>
		<string>18611115887</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=29c8d8d4402309f7e76fad1a420f0c39/bbcc7cd98d1001e95f83d94fbe0e7bec54e79737.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>泪落半夏</string>
		<key>qianming</key>
		<string>伤害我的人，我会一直保持微笑，因为我不喜欢与狗计较。</string>
		<key>phone</key>
		<string>15158862247</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fd522d128335e5dd902ca5d746c7a7f5/a2a1cd11728b47100b82308cc5cec3fdfd0323c5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>北国故人</string>
		<key>qianming</key>
		<string>我试过完美放弃，的确很踏实，你走了，我走了，你我都走散了</string>
		<key>phone</key>
		<string>15313946606</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=97179e79cf3d70cf4cfaaa05c8ddd1ba/ab19ebc4b74543a96a0f368c18178a82b901145e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>我该爱你</string>
		<key>qianming</key>
		<string>真正的闺蜜不是拿来秀的。</string>
		<key>phone</key>
		<string>18202129001</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2b66b6b2d362853592e0d229a0ee76f2/c900baa1cd11728bf7264062cefcc3cec3fd2c63.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>无心爱人</string>
		<key>qianming</key>
		<string>り, 俄們都要面向太阳、骄傲旳活着。</string>
		<key>phone</key>
		<string>13482688619</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3ac20e73978fa0ec7fc764051697594a/8fdda144ad345982eaa529d20af431adcbef8447.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>类似爱情</string>
		<key>qianming</key>
		<string>时光飞逝，唯有实力永存！</string>
		<key>phone</key>
		<string>13127594401</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1963f583d1ca7bcb7d7bc7278e086b3f/a00e7bec54e736d1444340489d504fc2d562691a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>冷风烈酒</string>
		<key>qianming</key>
		<string>放手去爱 不要逃</string>
		<key>phone</key>
		<string>18912720202</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=56f52043ce95d143da76e42b43f18296/4f2c11dfa9ec8a1377759ba0f103918fa0ecc007.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>叶枯人散</string>
		<key>qianming</key>
		<string>______、请问一下，你的棺材是翻盖还是滑盖。</string>
		<key>phone</key>
		<string>15917938344</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=829a47796d63f6241c5d390bb745eb32/a1389b504fc2d562f5b01cade11190ef76c66c32.jpg</string>
	</dict>
</array>
</plist>