<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>风清种</string>
		<key>qianming</key>
		<string>文章说：作为男人啊 第一不能骗女人的钱，那叫吃软饭；第二不能骗女人的感情，那叫臭不要脸！</string>
		<key>phone</key>
		<string>15576321758</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=72825d6ed41b0ef46ce89856edc551a1/36738bd4b31c870177cba7a6217f9e2f0708ff75.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>带我走</string>
		<key>qianming</key>
		<string>友谊比生日礼物还要重要</string>
		<key>phone</key>
		<string>13059943975</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4272a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e9aeee6b9b16fdfaaf516775.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>末了情</string>
		<key>qianming</key>
		<string>＂人生如天气，可预料，但往往出乎意料。＂</string>
		<key>phone</key>
		<string>15325792087</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=42e4a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e938ee6b9b16fdfaae516783.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>纯念想</string>
		<key>qianming</key>
		<string>抱着自己喜欢的人 才是最好的感觉</string>
		<key>phone</key>
		<string>15526470513</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4907b55bd20735fa91f04eb1ae500f9f/54086e061d950a7be01759840cd162d9f2d3c954.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>忆往昔</string>
		<key>qianming</key>
		<string>幸福的极限是：全世界的猪都笑了；郁闷的极限是：全世界的猪都笑了，你还板着脸！</string>
		<key>phone</key>
		<string>13226624806</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=20a22e438144ebf86d716437e9f8d736/9d35e5dde71190ef3d04859fc81b9d16fcfa60f6.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>澄清.</string>
		<key>qianming</key>
		<string>（在温柔的情陷上只能用你的宠溺来替代。）</string>
		<key>phone</key>
		<string>13242418321</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6f2cc46196ef76c6d0d2fb23ad17fdf6/5f10b912c8fcc3ce490cdf739445d688d53f20a5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>不回头</string>
		<key>qianming</key>
		<string>经不住思念的折磨，疯狂地想你。</string>
		<key>phone</key>
		<string>13162525808</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=035ee0bec5fdfc03e578e3b0e43e87a9/2112b31bb051f8194dba150adcb44aed2f73e7d7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>听我说</string>
		<key>qianming</key>
		<string>人生就像刷牙 一手拿着悲具 一手拿着洗具最后变成了悲喜交加的人生</string>
		<key>phone</key>
		<string>18151554311</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6c50c36196ef76c6d0d2fb23ad17fdf6/5f10b912c8fcc3ce4a70d8739445d688d43f2039.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>独忧思</string>
		<key>qianming</key>
		<string>别和我装你活的精彩过的幸福，也别祝我幸福，你有那资格吗……？</string>
		<key>phone</key>
		<string>18217061416</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=77afbf55ba315c6043956be7bdb0cbe6/c5c451da81cb39db21ac7416d6160924ab183005.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>绿柚子</string>
		<key>qianming</key>
		<string>如果一个男人可以晾你很多天、那不要也罢。</string>
		<key>phone</key>
		<string>13298693105</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5bba22a164d9f2d3201124e799ed8a53/4b43fbf2b21193139030e2f063380cd791238d7a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>坦荡荡</string>
		<key>qianming</key>
		<string>小鸟虽小，可它玩的是整个天空。</string>
		<key>phone</key>
		<string>15514448958</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=69a073dfa20f4bfb8cd09e5c334e788f/898fa0ec08fa513dcd35709e3b6d55fbb3fbd9d7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>冷暖.</string>
		<key>qianming</key>
		<string>我们就像两条平行线，独自向前，不再有交集。</string>
		<key>phone</key>
		<string>18322850756</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=84f79062cefcc3ceb4c0c93ba244d6b7/6b8da9773912b31b73b6d1698018367adbb4e19c.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>旧巷听雨</string>
		<key>qianming</key>
		<string>幸福已经和我隔了一整个世纪，是我永远都触碰不到的遥远。</string>
		<key>phone</key>
		<string>13161309311</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/14f431adcbef7609674587df28dda3cc7cd99e27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>浪子无家</string>
		<key>qianming</key>
		<string>以为我会怨恨你想不到越恨越想你</string>
		<key>phone</key>
		<string>18538755931</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/a43eb13533fa828bce6d83a3fb1f4134970a5a27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>你的名字</string>
		<key>qianming</key>
		<string>゛跌跌撞撞这一条爱情路，我们换来的只是陌路。</string>
		<key>phone</key>
		<string>15158829270</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5265e1485543fbf2c52ca62b807fca1e/d31349540923dd54c2776328d709b3de9c82486e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>烈酒醉人</string>
		<key>qianming</key>
		<string>找一个人，和我一起慢慢衰老。</string>
		<key>phone</key>
		<string>15844906270</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=bf054b714c90f60304b09c4f0913b370/cfca7bcb0a46f21f8b8e9913f0246b600c33ae3c.jpg</string>
	</dict>

</array>
</plist>