<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>舍得她</string>
		<key>qianming</key>
		<string>迩的笑，美的如阳光照在青石板的暖。</string>
		<key>phone</key>
		<string>13857144969</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2cfb533a26a446237ecaa56aa8237246/36dda3cc7cd98d1040302571273fb80e7aec908d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>往前走</string>
		<key>qianming</key>
		<string>姐妹分裂是如今的style？</string>
		<key>phone</key>
		<string>18753709850</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=8d8b3644329b033b2c88fcd225cf3620/ebdeb48f8c5494eea9be24592bf5e0fe98257ed5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>孤枕人</string>
		<key>qianming</key>
		<string>ヤ笹鎅那幺夶叒怎樣，吺烠皒熋銥攋的仒。</string>
		<key>phone</key>
		<string>13167219186</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1e9782f2d758ccbf1bbcb53229d9bcd4/86510fb30f2442a7747ad6e5d743ad4bd113027d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>北孤岛</string>
		<key>qianming</key>
		<string>如果你累了，可以止步看夕阳，人生路上我陪你流浪。</string>
		<key>phone</key>
		<string>13162220632</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ff066680f136afc30e0c3f6d8318eb85/256d55fbb2fb4316916b513a26a4462309f7d37e.jpg</string>
	</dict>
</array>
</plist>