<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>2</string>
		<key>pinyin</key>
		<string>beijing</string>
		<key>city</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3</string>
		<key>pinyin</key>
		<string>nanjing</string>
		<key>city</key>
		<string>南京</string>
	</dict>
	<dict>
		<key>code</key>
		<string>4</string>
		<key>pinyin</key>
		<string>wuhan</string>
		<key>city</key>
		<string>武汉</string>
	</dict>
	<dict>
		<key>code</key>
		<string>5</string>
		<key>pinyin</key>
		<string>chengdu</string>
		<key>city</key>
		<string>成都</string>
	</dict>
	<dict>
		<key>code</key>
		<string>6</string>
		<key>pinyin</key>
		<string>chongqing</string>
		<key>city</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>code</key>
		<string>7</string>
		<key>pinyin</key>
		<string>xian</string>
		<key>city</key>
		<string>西安</string>
	</dict>
	<dict>
		<key>code</key>
		<string>8</string>
		<key>pinyin</key>
		<string>tianjin</string>
		<key>city</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>code</key>
		<string>9</string>
		<key>pinyin</key>
		<string>guangzhou</string>
		<key>city</key>
		<string>广州</string>
	</dict>
	<dict>
		<key>code</key>
		<string>10</string>
		<key>pinyin</key>
		<string>shanghai</string>
		<key>city</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>code</key>
		<string>11</string>
		<key>pinyin</key>
		<string>hangzhou</string>
		<key>city</key>
		<string>杭州</string>
	</dict>
	<dict>
		<key>code</key>
		<string>12</string>
		<key>pinyin</key>
		<string>daxing</string>
		<key>city</key>
		<string>大兴</string>
	</dict>
	<dict>
		<key>code</key>
		<string>13</string>
		<key>pinyin</key>
		<string>fangshan</string>
		<key>city</key>
		<string>房山</string>
	</dict>
	<dict>
		<key>code</key>
		<string>14</string>
		<key>pinyin</key>
		<string>miyun</string>
		<key>city</key>
		<string>密云</string>
	</dict>
	<dict>
		<key>code</key>
		<string>15</string>
		<key>pinyin</key>
		<string>mentougou</string>
		<key>city</key>
		<string>门头沟</string>
	</dict>
	<dict>
		<key>code</key>
		<string>16</string>
		<key>pinyin</key>
		<string>pinggu</string>
		<key>city</key>
		<string>平谷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>17</string>
		<key>pinyin</key>
		<string>shanghai</string>
		<key>city</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>code</key>
		<string>18</string>
		<key>pinyin</key>
		<string>minhang</string>
		<key>city</key>
		<string>闵行</string>
	</dict>
</array>
</plist>
