<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>舍得她</string>
		<key>qianming</key>
		<string>迩的笑，美的如阳光照在青石板的暖。</string>
		<key>phone</key>
		<string>13857144969</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2cfb533a26a446237ecaa56aa8237246/36dda3cc7cd98d1040302571273fb80e7aec908d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>往前走</string>
		<key>qianming</key>
		<string>姐妹分裂是如今的style？</string>
		<key>phone</key>
		<string>18753709850</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=8d8b3644329b033b2c88fcd225cf3620/ebdeb48f8c5494eea9be24592bf5e0fe98257ed5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>孤枕人</string>
		<key>qianming</key>
		<string>ヤ笹鎅那幺夶叒怎樣，吺烠皒熋銥攋的仒。</string>
		<key>phone</key>
		<string>13167219186</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1e9782f2d758ccbf1bbcb53229d9bcd4/86510fb30f2442a7747ad6e5d743ad4bd113027d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>北孤岛</string>
		<key>qianming</key>
		<string>如果你累了，可以止步看夕阳，人生路上我陪你流浪。</string>
		<key>phone</key>
		<string>13162220632</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ff066680f136afc30e0c3f6d8318eb85/256d55fbb2fb4316916b513a26a4462309f7d37e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>风清种</string>
		<key>qianming</key>
		<string>文章说：作为男人啊 第一不能骗女人的钱，那叫吃软饭；第二不能骗女人的感情，那叫臭不要脸！</string>
		<key>phone</key>
		<string>15576321758</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=72825d6ed41b0ef46ce89856edc551a1/36738bd4b31c870177cba7a6217f9e2f0708ff75.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>带我走</string>
		<key>qianming</key>
		<string>友谊比生日礼物还要重要</string>
		<key>phone</key>
		<string>13059943975</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4272a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e9aeee6b9b16fdfaaf516775.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>22</string>
		<key>name</key>
		<string>末了情</string>
		<key>qianming</key>
		<string>＂人生如天气，可预料，但往往出乎意料。＂</string>
		<key>phone</key>
		<string>15325792087</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=42e4a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e938ee6b9b16fdfaae516783.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>纯念想</string>
		<key>qianming</key>
		<string>抱着自己喜欢的人 才是最好的感觉</string>
		<key>phone</key>
		<string>15526470513</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4907b55bd20735fa91f04eb1ae500f9f/54086e061d950a7be01759840cd162d9f2d3c954.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>忆往昔</string>
		<key>qianming</key>
		<string>幸福的极限是：全世界的猪都笑了；郁闷的极限是：全世界的猪都笑了，你还板着脸！</string>
		<key>phone</key>
		<string>13226624806</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=20a22e438144ebf86d716437e9f8d736/9d35e5dde71190ef3d04859fc81b9d16fcfa60f6.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>澄清.</string>
		<key>qianming</key>
		<string>（在温柔的情陷上只能用你的宠溺来替代。）</string>
		<key>phone</key>
		<string>13242418321</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6f2cc46196ef76c6d0d2fb23ad17fdf6/5f10b912c8fcc3ce490cdf739445d688d53f20a5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>不回头</string>
		<key>qianming</key>
		<string>经不住思念的折磨，疯狂地想你。</string>
		<key>phone</key>
		<string>13162525808</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=035ee0bec5fdfc03e578e3b0e43e87a9/2112b31bb051f8194dba150adcb44aed2f73e7d7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>听我说</string>
		<key>qianming</key>
		<string>人生就像刷牙 一手拿着悲具 一手拿着洗具最后变成了悲喜交加的人生</string>
		<key>phone</key>
		<string>18151554311</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6c50c36196ef76c6d0d2fb23ad17fdf6/5f10b912c8fcc3ce4a70d8739445d688d43f2039.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>独忧思</string>
		<key>qianming</key>
		<string>别和我装你活的精彩过的幸福，也别祝我幸福，你有那资格吗……？</string>
		<key>phone</key>
		<string>18217061416</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=77afbf55ba315c6043956be7bdb0cbe6/c5c451da81cb39db21ac7416d6160924ab183005.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>绿柚子</string>
		<key>qianming</key>
		<string>如果一个男人可以晾你很多天、那不要也罢。</string>
		<key>phone</key>
		<string>13298693105</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5bba22a164d9f2d3201124e799ed8a53/4b43fbf2b21193139030e2f063380cd791238d7a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>坦荡荡</string>
		<key>qianming</key>
		<string>小鸟虽小，可它玩的是整个天空。</string>
		<key>phone</key>
		<string>15514448958</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=69a073dfa20f4bfb8cd09e5c334e788f/898fa0ec08fa513dcd35709e3b6d55fbb3fbd9d7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>冷暖.</string>
		<key>qianming</key>
		<string>我们就像两条平行线，独自向前，不再有交集。</string>
		<key>phone</key>
		<string>18322850756</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=84f79062cefcc3ceb4c0c93ba244d6b7/6b8da9773912b31b73b6d1698018367adbb4e19c.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>旧巷听雨</string>
		<key>qianming</key>
		<string>幸福已经和我隔了一整个世纪，是我永远都触碰不到的遥远。</string>
		<key>phone</key>
		<string>13161309311</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/14f431adcbef7609674587df28dda3cc7cd99e27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>浪子无家</string>
		<key>qianming</key>
		<string>以为我会怨恨你想不到越恨越想你</string>
		<key>phone</key>
		<string>18538755931</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/a43eb13533fa828bce6d83a3fb1f4134970a5a27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>你的名字</string>
		<key>qianming</key>
		<string>゛跌跌撞撞这一条爱情路，我们换来的只是陌路。</string>
		<key>phone</key>
		<string>15158829270</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5265e1485543fbf2c52ca62b807fca1e/d31349540923dd54c2776328d709b3de9c82486e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>29</string>
		<key>name</key>
		<string>烈酒醉人</string>
		<key>qianming</key>
		<string>找一个人，和我一起慢慢衰老。</string>
		<key>phone</key>
		<string>15844906270</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=bf054b714c90f60304b09c4f0913b370/cfca7bcb0a46f21f8b8e9913f0246b600c33ae3c.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>二手情话</string>
		<key>qianming</key>
		<string>站在人生的顶端，俯视生命的千姿百态。</string>
		<key>phone</key>
		<string>18575595113</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f81140c7d6a20cf44690fed746084b0c/a43eb13533fa828b078d5aa3fb1f4134960a5ac0.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>眉眼带笑</string>
		<key>qianming</key>
		<string>、遊戲亽生 ゝ 皒戭旳昰癿巳︶ㄣ</string>
		<key>phone</key>
		<string>13105438384</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/a099a9014c086e06129cf90b04087bf40ad1cbbe.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>等他来爱</string>
		<key>qianming</key>
		<string>多年后再见他像老歌再翻唱，歌词没变模样意味却已深长。</string>
		<key>phone</key>
		<string>15666807880</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b336226375f082022d9291377bfafb8a/7b2762d0f703918fbe91fb8a573d269759eec42a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>奢望流浪</string>
		<key>qianming</key>
		<string>- 一件件事儿 看透一个个人</string>
		<key>phone</key>
		<string>13428783777</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3540458d5466d0167e199e20a72ad498/30381f30e924b899a59abf7868061d950b7bf6c8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>扰人清梦</string>
		<key>qianming</key>
		<string>不必遗憾，能分开的都不是对的人。</string>
		<key>phone</key>
		<string>18120079500</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ff1190ef76c6a7efb5106966fbfaaf51f3de66b8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>几封情书</string>
		<key>qianming</key>
		<string>如果你不爱我，那就一脚把我踹开，因为我不忍心离开你。</string>
		<key>phone</key>
		<string>13020100465</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=530271725cafa40f3cc6ced59b65038c/ef03918fa0ec08fa71cfd5e75fee3d6d54fbdaa7.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>独揽清欢</string>
		<key>qianming</key>
		<string>坚持下去，并不是我们真的足够坚强，而是我们别无选择。</string>
		<key>phone</key>
		<string>15665814094</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08e6fe36f41fbe091c5ec31c5b610c30/2ed12f2eb9389b503cef21128335e5dde7116e5a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>南鸢离梦</string>
		<key>qianming</key>
		<string>如果你真的爱我,又怎么舍得丢下我</string>
		<key>phone</key>
		<string>13922924153</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b8f04c714c90f60304b09c4f0913b370/cfca7bcb0a46f21f8c7b9e13f0246b600c33ae27.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>感同身受</string>
		<key>qianming</key>
		<string>如果有人可以依靠，谁会愿意独立</string>
		<key>phone</key>
		<string>13803589647</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=e59372a6217f9e2f70351d002f30e962/3034349b033b5bb58df2e0be30d3d539b600bc4d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>情临窗下</string>
		<key>qianming</key>
		<string>别让天与海旳距离，衡量爱与恨旳对立 。</string>
		<key>phone</key>
		<string>15821963641</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/f124b899a9014c086503ebe50c7b02087bf4f4b2.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>旧爱他人</string>
		<key>qianming</key>
		<string>是不是走完了一段旅程，下一站就是分道扬镳。</string>
		<key>phone</key>
		<string>15622758966</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=9d64c3a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31d4cac1d858df8db1ca1370df.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>故事缺你</string>
		<key>qianming</key>
		<string>我会一直喜欢你 直到我长高为止@</string>
		<key>phone</key>
		<string>15196541345</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=99491db4b14543a9f51bfac42e168a7b/38a4462309f79052b272847e0af3d7ca7bcbd505.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>一生如梦</string>
		<key>qianming</key>
		<string>兄弟就是情同手足 有福可能不必同享 但有难必定同当</string>
		<key>phone</key>
		<string>13166414590</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=de0e3f9a13ce36d3a20483380af23a24/e81f3a292df5e0fe1c9e4a415a6034a85fdf72e8.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>温眉软眼</string>
		<key>qianming</key>
		<string>★丶 你在我心中的位置没人可以代替。</string>
		<key>phone</key>
		<string>13165995595</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=46185f9c8c13632715edc23ba18ea056/d28065380cd79123c01a5734ab345982b3b780fc.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>伴君三生</string>
		<key>qianming</key>
		<string>下辈子，你只属于我的男人，打勾勾。</string>
		<key>phone</key>
		<string>13551014823</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=04178aa98b1001e94e3c1407880f7b06/3d1f95cad1c8a7866ecc894e6109c93d71cf5088.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>情浓于酒</string>
		<key>qianming</key>
		<string>你所谓的高姿态别给我显摆！你很脏，别碰我！你只是个人傻逼，有什么资格对我这么说话！</string>
		<key>phone</key>
		<string>13122340809</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=d465bc46aaaf2eddd4f149e1bd110102/e51f4134970a304e877362bad7c8a786c9175c19.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>只剩零碎</string>
		<key>qianming</key>
		<string>想得太多只会毁了你。让你陷入忐忑，让实际上本不糟糕的事情，变得糟糕。</string>
		<key>phone</key>
		<string>13165997029</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=955e7ac1cd1349547e1ee86c664f92dd/4a66d0160924ab185caa237733fae6cd7b890b36.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>青树枯藤</string>
		<key>qianming</key>
		<string>生命的道路上永远没有捷径可言，只有脚踏实地走下去</string>
		<key>phone</key>
		<string>15271132267</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c2dd4f3545a98226b8c12b2fba83b97a/5e2309f7905298225b17f483d1ca7bcb0a46d44e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>顾你冷暖</string>
		<key>qianming</key>
		<string>昨晚梦到我跟他结婚了，刚要换戒指，梦醒了。。今天我就和他分了。。</string>
		<key>phone</key>
		<string>18611115887</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=29c8d8d4402309f7e76fad1a420f0c39/bbcc7cd98d1001e95f83d94fbe0e7bec54e79737.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>泪落半夏</string>
		<key>qianming</key>
		<string>伤害我的人，我会一直保持微笑，因为我不喜欢与狗计较。</string>
		<key>phone</key>
		<string>15158862247</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=fd522d128335e5dd902ca5d746c7a7f5/a2a1cd11728b47100b82308cc5cec3fdfd0323c5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>北国故人</string>
		<key>qianming</key>
		<string>我试过完美放弃，的确很踏实，你走了，我走了，你我都走散了</string>
		<key>phone</key>
		<string>15313946606</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=97179e79cf3d70cf4cfaaa05c8ddd1ba/ab19ebc4b74543a96a0f368c18178a82b901145e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>我该爱你</string>
		<key>qianming</key>
		<string>真正的闺蜜不是拿来秀的。</string>
		<key>phone</key>
		<string>18202129001</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2b66b6b2d362853592e0d229a0ee76f2/c900baa1cd11728bf7264062cefcc3cec3fd2c63.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>无心爱人</string>
		<key>qianming</key>
		<string>り, 俄們都要面向太阳、骄傲旳活着。</string>
		<key>phone</key>
		<string>13482688619</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3ac20e73978fa0ec7fc764051697594a/8fdda144ad345982eaa529d20af431adcbef8447.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>类似爱情</string>
		<key>qianming</key>
		<string>时光飞逝，唯有实力永存！</string>
		<key>phone</key>
		<string>13127594401</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1963f583d1ca7bcb7d7bc7278e086b3f/a00e7bec54e736d1444340489d504fc2d562691a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>冷风烈酒</string>
		<key>qianming</key>
		<string>放手去爱 不要逃</string>
		<key>phone</key>
		<string>18912720202</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=56f52043ce95d143da76e42b43f18296/4f2c11dfa9ec8a1377759ba0f103918fa0ecc007.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>叶枯人散</string>
		<key>qianming</key>
		<string>______、请问一下，你的棺材是翻盖还是滑盖。</string>
		<key>phone</key>
		<string>15917938344</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=829a47796d63f6241c5d390bb745eb32/a1389b504fc2d562f5b01cade11190ef76c66c32.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>痴心绝对</string>
		<key>qianming</key>
		<string>你的背影潇潇洒洒，你的正脸惨不忍睹</string>
		<key>phone</key>
		<string>13430617333</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6b73672109b30f24359aec0bf894d192/63f40ad162d9f2d347d6e8afafec8a136227ccaf.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>舍得她</string>
		<key>qianming</key>
		<string>迩的笑，美的如阳光照在青石板的暖。</string>
		<key>phone</key>
		<string>13857144969</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2cfb533a26a446237ecaa56aa8237246/36dda3cc7cd98d1040302571273fb80e7aec908d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>往前走</string>
		<key>qianming</key>
		<string>姐妹分裂是如今的style？</string>
		<key>phone</key>
		<string>18753709850</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=8d8b3644329b033b2c88fcd225cf3620/ebdeb48f8c5494eea9be24592bf5e0fe98257ed5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>孤枕人</string>
		<key>qianming</key>
		<string>ヤ笹鎅那幺夶叒怎樣，吺烠皒熋銥攋的仒。</string>
		<key>phone</key>
		<string>13167219186</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1e9782f2d758ccbf1bbcb53229d9bcd4/86510fb30f2442a7747ad6e5d743ad4bd113027d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>北孤岛</string>
		<key>qianming</key>
		<string>如果你累了，可以止步看夕阳，人生路上我陪你流浪。</string>
		<key>phone</key>
		<string>13162220632</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ff066680f136afc30e0c3f6d8318eb85/256d55fbb2fb4316916b513a26a4462309f7d37e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>风清种</string>
		<key>qianming</key>
		<string>文章说：作为男人啊 第一不能骗女人的钱，那叫吃软饭；第二不能骗女人的感情，那叫臭不要脸！</string>
		<key>phone</key>
		<string>15576321758</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=72825d6ed41b0ef46ce89856edc551a1/36738bd4b31c870177cba7a6217f9e2f0708ff75.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>带我走</string>
		<key>qianming</key>
		<string>友谊比生日礼物还要重要</string>
		<key>phone</key>
		<string>13059943975</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4272a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e9aeee6b9b16fdfaaf516775.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>北国故人</string>
		<key>qianming</key>
		<string>我试过完美放弃，的确很踏实，你走了，我走了，你我都走散了</string>
		<key>phone</key>
		<string>15313946606</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=97179e79cf3d70cf4cfaaa05c8ddd1ba/ab19ebc4b74543a96a0f368c18178a82b901145e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>我该爱你</string>
		<key>qianming</key>
		<string>真正的闺蜜不是拿来秀的。</string>
		<key>phone</key>
		<string>18202129001</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2b66b6b2d362853592e0d229a0ee76f2/c900baa1cd11728bf7264062cefcc3cec3fd2c63.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>无心爱人</string>
		<key>qianming</key>
		<string>り, 俄們都要面向太阳、骄傲旳活着。</string>
		<key>phone</key>
		<string>13482688619</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=3ac20e73978fa0ec7fc764051697594a/8fdda144ad345982eaa529d20af431adcbef8447.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>类似爱情</string>
		<key>qianming</key>
		<string>时光飞逝，唯有实力永存！</string>
		<key>phone</key>
		<string>13127594401</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1963f583d1ca7bcb7d7bc7278e086b3f/a00e7bec54e736d1444340489d504fc2d562691a.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>26</string>
		<key>name</key>
		<string>冷风烈酒</string>
		<key>qianming</key>
		<string>放手去爱 不要逃</string>
		<key>phone</key>
		<string>18912720202</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=56f52043ce95d143da76e42b43f18296/4f2c11dfa9ec8a1377759ba0f103918fa0ecc007.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>叶枯人散</string>
		<key>qianming</key>
		<string>______、请问一下，你的棺材是翻盖还是滑盖。</string>
		<key>phone</key>
		<string>15917938344</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=829a47796d63f6241c5d390bb745eb32/a1389b504fc2d562f5b01cade11190ef76c66c32.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>痴心绝对</string>
		<key>qianming</key>
		<string>你的背影潇潇洒洒，你的正脸惨不忍睹</string>
		<key>phone</key>
		<string>13430617333</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=6b73672109b30f24359aec0bf894d192/63f40ad162d9f2d347d6e8afafec8a136227ccaf.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青稚</string>
		<key>qianming</key>
		<string>所谓梦想，不是你睡觉时梦到了什么，而是想到了什么令你激动得没法睡觉。 </string>
		<key>phone</key>
		<string>18090921115</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=0ecf8c2301082838680ddc1c8898a964/1b3b5bb5c9ea15ce1f63c735b0003af33a87b278.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>半倚</string>
		<key>qianming</key>
		<string>走过的路，追过的风，你是我再没可能完成的梦。</string>
		<key>phone</key>
		<string>13690345490</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=b49f15042e381f309e198da199004c67/43b5c9ea15ce36d3ff89a40c3cf33a87e950b178.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>19</string>
		<key>name</key>
		<string>冻心</string>
		<key>qianming</key>
		<string>氺溶、感覺像 戀愛、剛開始是甜旳、但 過後是 酸旳、</string>
		<key>phone</key>
		<string>13631962439</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=acc5796c0a3387449cc52f74610ed937/cd628535e5dde711ca0e64caa1efce1b9d166129.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>24</string>
		<key>name</key>
		<string>闹剧</string>
		<key>qianming</key>
		<string>沵的告别太温和，使我未能哭出痛楚....</string>
		<key>phone</key>
		<string>13061607636</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=f0fbbab37f310a55c424defc87444387/aafb43166d224f4a276953530ff790529922d1f9.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>20</string>
		<key>name</key>
		<string>青丝</string>
		<key>qianming</key>
		<string>说起来也好巧，你当年喜欢我喜欢得刚好，毕竟那时我是短发。</string>
		<key>phone</key>
		<string>13120518303</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=eb3a7e13f0246b607b0eb27cdbf91a35/83504fc2d5628535b0eef26196ef76c6a7ef6367.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>吝啬</string>
		<key>qianming</key>
		<string>自信的女人不一定漂亮,比如说凤姐</string>
		<key>phone</key>
		<string>13113146948</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5090198437adcbef01347e0e9cae2e0e/2bfa828ba61ea8d37d2d5444910a304e251f5866.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>23</string>
		<key>name</key>
		<string>若栖</string>
		<key>qianming</key>
		<string>即使是捧在手心的爱情也会坐立不安</string>
		<key>phone</key>
		<string>15901988793</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=7c3122a3d339b6004dce0fbfd9513526/35f5e0fe9925bc31359f20d858df8db1ca1370ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>北杳</string>
		<key>qianming</key>
		<string>女生最痛苦的不是失恋，而是那七天。</string>
		<key>phone</key>
		<string>15763705967</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2a71b83bd71373f0f53f6f97940e4b8b/9213632762d0f7036abdb59c0efa513d2697c567.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>初风</string>
		<key>qianming</key>
		<string>放弃还是忘记，我已无能为力</string>
		<key>phone</key>
		<string>18354798070</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=5c35c5b8a186c91708035231f93c70c6/ef36afc379310a557ae6ffb4b14543a9832610ab.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>野心</string>
		<key>qianming</key>
		<string>手机，你怎么那么快就没电了，告诉我，你对谁放电了！</string>
		<key>phone</key>
		<string>18856726698</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=22f330481930e924cfa49c397c096e66/d1ea15ce36d3d53993fb22833c87e950342ab0af.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>凉薄</string>
		<key>qianming</key>
		<string>爱情最大的特点就是，上一秒让你笑，下一秒让你哭</string>
		<key>phone</key>
		<string>13640685446</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=08cc298a848ba61edfeec827713597cc/c91373f082025aaf1df6518bfdedab64024f1aad.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>30</string>
		<key>name</key>
		<string>情话</string>
		<key>qianming</key>
		<string>不是没后台 是不想耍大牌</string>
		<key>phone</key>
		<string>15818539024</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ee61ab3545a98226b8c12b2fba83b97a/5e2309f79052982277ab1083d1ca7bcb0b46d4d1.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>27</string>
		<key>name</key>
		<string>押韵</string>
		<key>qianming</key>
		<string>你身边的人太拥挤我只能疏远你</string>
		<key>phone</key>
		<string>13304910556</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=c62502678c82b9013dadc33b438ca97e/6a0e0cf3d7ca7bcb039fee6fb8096b63f724a88d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>舍得她</string>
		<key>qianming</key>
		<string>迩的笑，美的如阳光照在青石板的暖。</string>
		<key>phone</key>
		<string>13857144969</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=2cfb533a26a446237ecaa56aa8237246/36dda3cc7cd98d1040302571273fb80e7aec908d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>17</string>
		<key>name</key>
		<string>往前走</string>
		<key>qianming</key>
		<string>姐妹分裂是如今的style？</string>
		<key>phone</key>
		<string>18753709850</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=8d8b3644329b033b2c88fcd225cf3620/ebdeb48f8c5494eea9be24592bf5e0fe98257ed5.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>25</string>
		<key>name</key>
		<string>孤枕人</string>
		<key>qianming</key>
		<string>ヤ笹鎅那幺夶叒怎樣，吺烠皒熋銥攋的仒。</string>
		<key>phone</key>
		<string>13167219186</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=1e9782f2d758ccbf1bbcb53229d9bcd4/86510fb30f2442a7747ad6e5d743ad4bd113027d.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>28</string>
		<key>name</key>
		<string>北孤岛</string>
		<key>qianming</key>
		<string>如果你累了，可以止步看夕阳，人生路上我陪你流浪。</string>
		<key>phone</key>
		<string>13162220632</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=ff066680f136afc30e0c3f6d8318eb85/256d55fbb2fb4316916b513a26a4462309f7d37e.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>21</string>
		<key>name</key>
		<string>风清种</string>
		<key>qianming</key>
		<string>文章说：作为男人啊 第一不能骗女人的钱，那叫吃软饭；第二不能骗女人的感情，那叫臭不要脸！</string>
		<key>phone</key>
		<string>15576321758</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=72825d6ed41b0ef46ce89856edc551a1/36738bd4b31c870177cba7a6217f9e2f0708ff75.jpg</string>
	</dict>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>带我走</string>
		<key>qianming</key>
		<string>友谊比生日礼物还要重要</string>
		<key>phone</key>
		<string>13059943975</string>
		<key>image</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=4272a734edf81a4c2632ecc1e72b6029/fddde71190ef76c6e9aeee6b9b16fdfaaf516775.jpg</string>
	</dict>
</array>
</plist>